node_modules/
out/
dist/
*.vsix
.vscode-test/
.snapshots/
.env
.DS_Store
backend/bin/
backend/obj/
#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
.vscode/settings.json
publish.sh
